#result, #nomatches {
  display: none;
}
h1, h2, h3, h4 {
  text-align: center;
}

#canvas {
  background-color: #E0E0FF;
  padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      display: block;
}


#triangle-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 150px solid red;
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 50px solid red;
}
